In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# This magic line will allow you to generate plots
# within the Jupyter notebook.
%matplotlib inline

#this adds some extra styling to the graphs we will make
sns.set_style("whitegrid")

In [28]:
df=pd.read_csv("Global Sea Level till 2014.csv")

In [29]:
df.shape

(135, 5)

In [30]:
df.head()

,Year,CSIRO Adjusted Sea Level,Lower Error Bound,Upper Error Bound,NOAA Adjusted Sea Level
0,1880-03-15,0.000000,-0.952756,0.952756,NaN
1,1881-03-15,0.220472,-0.732283,1.173228,NaN
2,1882-03-15,-0.440945,-1.346457,0.464567,NaN
3,1883-03-15,-0.232283,-1.129921,0.665354,NaN
4,1884-03-15,0.590551,-0.283465,1.464567,NaN

In [31]:
df.columns

Index(['Year', 'CSIRO Adjusted Sea Level', 'Lower Error Bound',
       'Upper Error Bound', 'NOAA Adjusted Sea Level'],
      dtype='object')

In [32]:
df.columns=['dt','CSIRO Adjusted Sea Level', 'Lower Error Bound',
       'Upper Error Bound', 'NOAA Adjusted Sea Level']

In [33]:
df.isna().sum()

dt                            0
CSIRO Adjusted Sea Level      1
Lower Error Bound             1
Upper Error Bound             1
NOAA Adjusted Sea Level     113
dtype: int64

In [34]:
del df['NOAA Adjusted Sea Level']

In [35]:
df['dt'] = pd.to_datetime(df['dt'])

In [36]:
df['year'] = df['dt'].dt.year
df['month'] = df['dt'].dt.month
df['day'] = df['dt'].dt.day

In [37]:
df['year']

0      1880
1      1881
2      1882
3      1883
4      1884
       ...
130    2010
131    2011
132    2012
133    2013
134    2014
Name: year, Length: 135, dtype: int64

In [38]:
df.drop(df[df['year']<1901].index, inplace=True)

In [39]:
del df['dt']

In [40]:
del df['month']

In [41]:
del df['day']

In [42]:
df.to_csv("Cleaned Global SeaLevel.csv",sep=',',index=False)