In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# This magic line will allow you to generate plots
# within the Jupyter notebook.
%matplotlib inline

#this adds some extra styling to the graphs we will make
sns.set_style("whitegrid")

In [5]:
df=pd.read_csv("GlobalMethaneData 1983 to 2020 .csv")

In [6]:
df.isna().sum()

year                   0
month                  0
decimal                0
averageMethane         0
average_unc_methane    0
trend_methane          0
trend_unc_methane      0
dtype: int64

In [7]:
avg_yearly=df[['averageMethane','year']].groupby(['year'],as_index=False).mean()

In [8]:
avg_yearly.columns=['year','averageMethanePerYear']

In [9]:
df=pd.merge(df,avg_yearly,on='year')

In [10]:
df

,year,month,decimal,averageMethane,average_unc_methane,trend_methane,trend_unc_methane,averageMethanePerYear
0,1983,7,1983.542,1625.9,2.4,1634.6,1.5,1636.50
1,1983,8,1983.625,1628.0,2.9,1635.3,1.4,1636.50
2,1983,9,1983.708,1638.4,2.2,1636.0,1.3,1636.50
3,1983,10,1983.792,1644.8,1.4,1636.7,1.3,1636.50
4,1983,11,1983.875,1642.5,0.8,1637.5,1.2,1636.50
...,...,...,...,...,...,...,...,...
443,2020,6,2020.458,1871.7,-9.9,1879.4,-9.9,1876.77
444,2020,7,2020.542,1871.5,-9.9,1881.0,-9.9,1876.77
445,2020,8,2020.625,1876.5,-9.9,1882.7,-9.9,1876.77
446,2020,9,2020.708,1884.8,-9.9,1884.2,-9.9,1876.77
447,2020,10,2020.792,1890.9,-9.9,1885.7,-9.9,1876.77

In [11]:
avg_yearly.to_csv("Cleaned Global Methene.csv",sep=',',index=False)