In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# This magic line will allow you to generate plots
# within the Jupyter notebook.
%matplotlib inline

#this adds some extra styling to the graphs we will make
sns.set_style("whitegrid")

In [28]:
df=pd.read_csv("GlobelCo2Data 2013.csv")

In [29]:
df.shape

(263, 8)

In [30]:
df.columns

Index(['Year',
       'Total carbon emissions from fossil fuel consumption and cement production (million metric tons of C)',
       'Carbon emissions from gas fuel consumption',
       'Carbon emissions from liquid fuel consumption',
       'Carbon emissions from solid fuel consumption',
       'Carbon emissions from cement production',
       'Carbon emissions from gas flaring',
       'Per capita carbon emissions (metric tons of carbon; after 1949 only)'],
      dtype='object')

In [31]:
df.columns=['year','Total carbon emissions from fossil fuel consumption and cement production (million metric tons of C)',
       'Carbon emissions from gas fuel consumption',
       'Carbon emissions from liquid fuel consumption',
       'Carbon emissions from solid fuel consumption',
       'Carbon emissions from cement production',
       'Carbon emissions from gas flaring',
       'Per capita carbon emissions (metric tons of carbon; after 1949 only)']

In [32]:
df.isna().sum()

year                                                                                                      0
Total carbon emissions from fossil fuel consumption and cement production (million metric tons of C)      0
Carbon emissions from gas fuel consumption                                                                0
Carbon emissions from liquid fuel consumption                                                             0
Carbon emissions from solid fuel consumption                                                              0
Carbon emissions from cement production                                                                   0
Carbon emissions from gas flaring                                                                         0
Per capita carbon emissions (metric tons of carbon; after 1949 only)                                    199
dtype: int64

In [33]:
df.columns=['year','Total carbon emissions(million metric tons)',
       'Carbon emissions from gas fuel consumption',
       'Carbon emissions from liquid fuel consumption',
       'Carbon emissions from solid fuel consumption',
       'Carbon emissions from cement production',
       'Carbon emissions from gas flaring',
       'Per capita carbon emissions (metric tons of carbon; after 1949 only)']

In [34]:
df.shape

(263, 8)

In [35]:
del df['Per capita carbon emissions (metric tons of carbon; after 1949 only)']

In [42]:
df.head()

,year,Total carbon emissions(million metric tons),Carbon emissions from gas fuel consumption,Carbon emissions from liquid fuel consumption,Carbon emissions from solid fuel consumption,Carbon emissions from cement production,Carbon emissions from gas flaring
150,1901,552,4,18,531,0,0
151,1902,566,4,19,543,0,0
152,1903,617,4,20,593,0,0
153,1904,624,4,23,597,0,0
154,1905,663,5,23,636,0,0

In [41]:
df.drop(df[df['year']<1901].index, inplace=True)

In [45]:
df.to_csv("Cleaned Global Co2.csv",sep=',',index=False)